/* Transparence toute l'app */

.theme-dark .layer-kosS71, .theme-dark .layers-20RVFW, .container-2OU7Cz, .appMount-14L89u {
	background-color: transparent !important;
}

/* Transparence liste serveur */

.guilds-wrapper {
	background-color: rgba(0,0,0,0.6) !important;
}

/* Transparence logo/speudo bouton paramètre... en bas a gauche */
.container-iksrDt {
	background-color: transparent !important;
}
/* Transparence liste channel */
.channels-3g2vYe {
	background-color: rgba(0,0,0,0.55) !important;
}
.container-RYiLUQ {
	background-color: transparent !important;
}
/* Transparence appel channel vocal */
.container-3lnMWU {
	background-color: transparent !important;
	border-bottom: 1px solid transparent !important;
}

/* Transparence Chat et Liste membre */
.theme-dark .chat {
	background-color: transparent !important;
}
.theme-dark .chat>.content {
	background-color: rgba(0,0,0,0.5) !important;
}
/* Transparence nom channel */
.theme-dark .title-qAcLxz {
	background-color: rgba(0,0,0,0.6) !important;
}
/* Transparence chat */
.theme-dark .friends-table, .theme-dark .messages-wrapper, .theme-dark .chat form {
	background-color: transparent !important;
}
/* Transparence liste membre */
.theme-dark .channel-members {
	background-color: rgba(0,0,0,0.1) !important;
}

/* Transparence liste amis */
.theme-dark #friends, #friends {
	background-color: rgba(0,0,0,0.5) !important;
}
/* Transparence barre ajouter amis... */
.theme-dark .headerBar-cxbhPD {
	background-color: rgba(0,0,0,0.2) !important;
}

/* Transparence menu paramètre */
.theme-dark .ui-standard-sidebar-view {
	background-color: transparent !important;
}
/* Transparence liste menu */
.theme-dark .ui-standard-sidebar-view .sidebar-region {
	background-color: rgba(0,0,0,0.6) !important;
}
/* Transparence menu gauche */
.theme-dark .ui-standard-sidebar-view .content-region {
	background-color: rgba(0,0,0,0.55) !important;
}

/* Transparence menu appel privé */ 
.theme-dark .private-channel-call , .video-3lOWa6 {
	background-color: rgba(0,0,0,0.35) !important;
}
.video-2vmmgZ, .titleCall-3X0yGQ {
	background-color: transparent !important;
}
/* Tranparence menu quitter appel... */
.theme-dark .private-channel-call.minimum .private-channel-call-actions .center {
	background-color: transparent !important;
	border-color: transparent !important;
}
.titleCall-3X0yGQ { 
	background-color: rgba(0,0,0,0.1) !important; 
}

/* Transparence inviter personne */
.wrapper-VSYYTS {
	background-color: transparent;
}
.form-deprecated .form-header, .form.deprecated .form-header, .form-deprecated .form-inner, .form.deprecated .form-inner, .wrapper-VSYYTS .instantInviteModal-5L33Qh .form-actions, .wrapper-VSYYTS .instantInviteModalAdvanced-38f2M0 .form-actions {
	background-color: var(--couleur-theme-0-5)
}
.theme-dark .footer-1PYmcw {
	background-color: transparent;
}

/* Transparence créer un salon textuel */

.theme-dark .modal-3HOjGZ {
	background-color: var(--couleur-theme-0-5);
}

/* Barre est entrain de écrire */

.theme-dark .typing-3eiiL_ {
	background-color: transparent !important;
}

/* Transparence barre du dessus avec logo... */

.titleBar-3_fDwJ {
	background-color: rgba(0,0,0,0.7) !important;
}
